@font-face {
  font-family: 'Biro';
  src: url('assets/fonts/BiroScript.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira';
  src: url('assets/fonts/FiraCode.ttf') format('truetype');
}

:root {
  --color-1: #c32221;
  --color-2: #5a9947;
}

body {
  margin: 0;
  overflow: hidden;

  font-family: 'Biro';
  font-size: 1.5rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;

  &:active {
    text-decoration: none;
    color: inherit;
  }
}

.app {
  height: 100vh;
  width: 100vw;

  background-image: url('./assets/corkboard.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.evidence-board {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-image: url('./assets/evidence.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  .link {
    height: auto;
    width: 12%;
    max-width: 175px;
  }

  .note {
    width: 100%;
    transition: transform 0.25s ease;

    &:hover {
      cursor: pointer;
      transform: rotate(5deg);
    }
  }
}

.back {
  color: var(--color-1);

  transition: transform 0.25s ease;

  &:hover {
    transform: scale(1.02);
  }
}

.puzzle-page {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;

  .ui {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      width: 175px;

      position: absolute;
      z-index: 2;
      
      margin-top: -25rem;
      margin-left: -14rem;
    }

    .note {
      width: 425px;

      position: absolute;
      z-index: 1;
    }

    .text {
      width: 22rem;
      
      z-index: 3;

      display: flex;
      flex-direction: column;
      gap: 2rem;

      text-align: center;
    }

    .reveals {
      min-height: 14rem;
      justify-content: top;
    }
  }
}

.blueprint-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  .cell {
    height: 7rem;

    cursor: pointer;
    transition: transform 0.25s ease;
  }
}

.puzzle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.clues {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.5rem;
  row-gap: 0.5rem;

  .clue {
    width: 8rem; 

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    background-image: url('./assets/notes/clue-note.png');
    aspect-ratio: 500 / 355; 
    background-size: cover;

    color: black;
    text-align: center;
    font-size: 1.25rem;

    transition: all 0.5s ease;
    

    &:hover {
      cursor: pointer;
    }

    .text {
      padding-left: .5rem;
      padding-bottom: .5rem;
    }
  }

  .selected {
    transform: scale(1.05) rotate(-3deg);
    color: var(--color-1);
  }

  .connected {
    opacity: 75%;
    color: var(--color-2);
  }
}

.reveals {
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: top;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;

  #btn-1 {
    background-image: url('./assets/tape-1.png');
  }

  #btn-2 {
    background-image: url('./assets/tape-2.png');
  }

  .button {
    width: 10rem;

    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;

    background-size: cover;
    opacity: 70%;

    color: #6d635a;

    transition: all 0.5s ease;

    &:hover {
      cursor: pointer;
    }

    .text {
      padding-right: .25rem;
      padding-top: .25rem;
    }
  }

  .active {
    opacity: 100%;
    color: var(--color-1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
}

.letter {
  max-width: 40rem;
  
  padding: 1rem;

  background: white;

  .br {
    padding-bottom: 1rem;
  }

  .clue {
    padding: 0.25rem 0.5rem;
    background-color: rgba(196, 33, 33, 0.15);

    color: var(--color-1);
    font-family: 'Fira';
    font-size: 1rem;
  }
}

.input {
  all: unset;

  width: 100%;
  box-sizing: border-box;
  
  background-color: white;

  color: #c32221;
  font-family: 'Biro';
}