body {
  margin: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;

  &:active {
    text-decoration: none;
    color: inherit;
  }
}

.app {
  height: 100vh;
  width: 100vw;

  background-image: url("./assets/corkboard.png");
}

.evidence-board {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-image: url("./assets/evidence.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  .link {
    height: auto;
    width: 12%;
    max-width: 175px;
  }

  .note {
    width: 100%;
    transition: transform 0.25s ease;

    &:hover {
      cursor: pointer;
      transform: rotate(5deg);
    }
  }
}

.puzzle {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blueprint-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  .cell {
    height: 7rem;

    cursor: pointer;
    transition: transform 0.25s ease;
  }
}